<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                
                <div class="card-body">
                    
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                            class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Order ID'|translate}}</th>
                                    <th>{{'Date'|translate}}</th>
                                    <th>{{'Status'|translate}}</th>
                                    <th>{{'Total'|translate}}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i = index">
                                    <td>{{i+1}}</td>
                                    <td><a routerLink = "/shops/shop-view-order" [queryParams]="{id: order?.orderId,shopId:shopId}">{{order?.orderId}}</a></td>
                                    <td>{{order?.date}}</td>
                                    <td>{{order?.status | customStatus |translate}}</td>
                                    <td>{{order?.totalAmount}}</td>
                                    
                                </tr>
                                <tr *ngIf="orders.length === 0">
                                    <td colspan="10">
                                        <h5 style="text-align: center;">No data found</h5>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->