<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card tab2-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-popup pull-right">
                                <button type="button" class="btn btn-primary"  routerLink = "/settings/add-town">{{'Add Town'|translate}}</button>
                               
                            </div>
                            <div id="batchDelete" class="category-table custom-datatable">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                                    class="table table-striped custom-table datatable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'Name'|translate}}</th>
                                            <th class="text-right">{{'Action'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let town of towns; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{town?.name}}</td>
                                            
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item"  data-toggle="modal"
                                                        data-target="#edit_leavetype" (click)="onEdit(town.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a *ngIf="canDelete" class="dropdown-item"
                                                            (click)="onDeleteConfirm(town)"><i class="fa fa-trash-o m-r-5"></i>
                                                            Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="towns.length === 0">
                                            <td colspan="10">
                                                <h5 style="text-align: center;">No data found</h5>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>   
                </div>
            </div>
        </div>
      
    </div>
</div>
<!-- Container-fluid Ends-->
