<!-- Container-fluid starts-->
<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                
                <div class="card-body">
                    
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                            class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Id'|translate}}</th>
                                    <th>{{'First Name'|translate}}</th>
                                    <th>{{'Last Name'|translate}}</th>
                                    <th>{{'Address'|translate}}</th>
                                    <th>{{'Postal Code'|translate}}</th>
                                    <th>{{'Appt No.'|translate}}</th>
                                    <th>{{'Phone'|translate}}</th>
                                    <th>{{'Type'|translate}}</th>
                                    <th>{{'Discription'|translate}}</th>
                                    <th>{{'Items Qty'|translate}}</th>
                                    <th>{{'Amount'|translate}}</th>
                                    <th>{{'Delivery Date'|translate}}</th>
                                    <th>{{'Barcode'|translate}}</th>
                                    <th>{{'Status'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allCompanyPacks; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item?.item_id }}</td>
                                    <td>{{item?.first_name}}</td>
                                    <td>{{item?.last_name}}</td>
                                    <td>{{item?.address }}</td>
                                    <td>{{item?.postal_code}}</td>
                                    <td>{{item?.appt_no}}</td>
                                    <td>{{item?.phone }}</td>
                                    <td>{{item?.type}}</td>
                                    <td>{{item?.discription}}</td>
                                    <td>{{item?.items_count }}</td>
                                    <td>{{item?.collection_amount}}</td>
                                    <td>{{item?.delivery_date}}</td> 
                                    <td>{{item?.barcode}}</td> 
                                    <td>{{item?.status}}</td> 
                                </tr>
                                <tr *ngIf="allCompanyPacks.length === 0">
                                    <td colspan="10">
                                        <h5 style="text-align: center;">{{'No data found'|translate}}</h5>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->