<!-- Page Content -->
<div class="content container-fluid">



    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile-info-left">
                                        <ul class="order-detail">
                                            <li>{{'Name :'|translate}} {{client?.name}}</li>
                                            <li>{{'Phone Number 1 :'|translate}} {{client?.phoneNumber1}}</li>
                                            <li>{{'Phone Number 2 :'|translate}} {{client?.phoneNumber2}}</li>
                                            <li>{{'Contact Person Name :'|translate}} {{client?.contact_person_name}}</li>
                                            <li>{{'Contact Person Phone Number 1 :'|translate}} {{client?.contact_person_phone_number1}}</li>
                                            <li>{{'Contact Person Phone Number 2 :'|translate}} {{client?.contact_person_phone_number2}}</li>
                                            <li>{{'Contact Position :'|translate}} {{client?.contact_position}}</li>
                                            <li>{{'Address :'|translate}} {{client?.address}}</li>
                                            <li>{{'latitude :'|translate}} {{client?.latitude}}</li>
                                            <li>{{'longitude :'|translate}} {{client?.longitude }}</li>
                                            <li>{{'Open from :'|translate}} {{client?.open_from}}</li>
                                            <li>{{'Open To :'|translate}} {{client?.open_To }}</li>
                                        </ul>
                                       
                                    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

  
<!-- /Page Content -->
