<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                
                <div class="card-body">
                    
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                            class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Name'|translate}}</th>
                                    <th>{{'Phone'|translate}}</th>
                                    <th>{{'Email'|translate}}</th>
                                    <th>{{'Type'|translate}}</th>
                                    <th class="text-right">{{'Action'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers; let i = index">
                                    <td>{{i+1}}</td>
                                    <td *ngIf="customer.type == 'collector'"><a routerLink = "/users/view-user" [queryParams]="{id: customer?.phone}">{{ customer?.firstName }} {{ customer?.lastName}}</a></td>
                                    <td *ngIf="customer.type != 'collector'">{{ customer?.firstName }} {{ customer?.lastName}}</td>
                                    <td>{{customer?.phone}}</td>
                                    <td>{{customer?.email}}</td>
                                    <td>{{customer?.type | translate}}</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"  data-toggle="modal"
                                                data-target="#edit_leavetype" (click)="onEdit(customer.id)"><i class="fa fa-pencil m-r-5"></i> {{'Edit'|translate}}</a>
                                                <a class="dropdown-item"
                                                    (click)="onDeleteConfirm(customer)"><i class="fa fa-trash-o m-r-5"></i>
                                                    {{'Delete'|translate}}</a>
                                            </div>
                                        </div>
                                    </td>
                                  
                                </tr>
                                <tr *ngIf="customers.length === 0">
                                    <td colspan="10">
                                        <h5 style="text-align: center;">{{'No data found'|translate}}</h5>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
